.home {
  width: 100%;
  margin:0, auto;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.headerContainer {
  width: auto;
 
  padding-bottom: 20px;
  margin: 0, auto;
}
.textContainer{
  width: 400px;
  height: 350px;
  background-color: #adebee;
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 75px;
  left: 440px;
  
}

.textContainer img {
  justify-content: center;
  
  align-items: center;  
  height: 60px;  
  position: relative;
  left: 90px;
  top: 30px;
}

.textContainer p {
  margin-left:  15px;
  font-size: 40px;
  font-weight: lighter;
  color: white;
  text-align: center;
}

.textContainer button {
  color: white; 
  margin-left: 110px; 
  border: none;
  border-radius: 10px;
  cursor: pointer;
  justify-content: center;
  background-color: #00c2cb;
  height: 50px;
  width: 180px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  position: centre;
}

.textContainer button:hover {
  background-color: #FFFFFF;
  cursor: pointer;
  transition: 0.3s ease-in;
  color: #00c2cb;
}

@media only screen and (max-width: 650px) {
  .home {
    justify-content: center;
    align-items: center;
  }
  

  .textContainer {
    margin-left: 0px;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    color: white;
  }

  .textContainer h1 {
    font-size: 40px;
    height: 30px;
    color: #00c2cb;
  }

  .textContainer p {
    font-size: 30px;
    color: white;
  }

  .textContainer button {
    background-color: #00c2cb;
    color: #FFFFFF;
    margin-bottom: 30px;
  }

  .headerContainer button:hover {
    background-color: rgb(225, 225, 225);
    color: #FFFFFF;
  }
}
